@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #070707;
}

body {
    color: white;
    background-color: var(--bg-color);
    /* background-image: url("../../public/bg-pattern.png"); */
}

.bg-noice {
    background-image: url("../../public/noice.png");
    background-repeat: repeat;
    background-size: 100%;
}

.background-image {
    background-image: url("../../public/bg-pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
